.container {
    background: beige;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-revers; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: nowrap; */
    /* flex-direction: wrap; */
    /* flex-direction: rap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-content: space-between; */
    /* align-content: center; */
    /* align-content: ; */
}

.item {
   width: 40px;
   height: 40px;
   border: 1px solid black;
}

.item1 {
    background: #ef9a9a;
}
.item2 {
    background: #f48fb1;
}
.item3 {
    background: #ce93d8;
}
.item4 {
    background: #b39ddb;
}
.item5 {
    background: #90caf9;
}
.item6 {
    background: #a5d6a7;
}
.item7 {
    background: #e6ee9c;
}
.item8 {
    background: yellow;
}
.item9 {
    background: orange;
}
.item10 {
    background: red;
}
